<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/stylem.css')}}">
    <title>Document</title>
</head>
<body>
    <b><h1 class="hd">DETAILS</h1></b>
    <div class="container1">
    <label for="name"><b>Name</b></label>
    <input class="in"type="text" value="FName " name="name" required>
    <br/><br/><br/><br/>
    <label for="address"><b>Address</b></label>
    <input class="in"type="text" value="Address" name="address" required>
    <br/><br/><br/><br/>
    <label for="phno"><b>Phone Number</b></label>
    <input class="in" type="text" value="8888888888" name="phno" required>
    <br/><br/><br/><br/>
    <label for="part"><b>Part in the project</b></label>
    <input class="in" type="text" value="xxx" name="part" required>
    <br/><br/><br/><br/>
    </div>
    <div class="container2">
    <label for="tasks"><b><h1>Tasks</h1></b></label>
    <!-- <label for="task1"><b>Task 1</b></label> -->
    <input class="in2" type="text" value="Task 1" name="part" readonly>
    <input type="checkbox" class="CB"/>
    </div>
    <button class="submitt">SUBMIT</button>
    
</body>
</html>